| ENIT Connect - Search Notification
| 
| #{message}
| 
| Visit ENIT Connect: ${process.env.FRONTEND_URL || 'http://localhost:4200'}
| 
| You received this email because you have an active account on ENIT Connect.
| 
| © 2026 ENIT Connect - École Nationale d'Ingénieurs de Tunis
| All rights reserved.