# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build output
dist/
tmp/
out-tsc/

# IDEs
.idea/
.vscode/
*.swp
*.DS_Store

# Logs
npm-debug.log
*.log
*.log.*
CLAUDE.md
Doc.md
AGENTS.md
.codex
.github/
.specify
