| ENIT Connect - Email Verification
| 
| Welcome, #{name}!
| 
| Thank you for joining ENIT Connect. Please verify your email address to activate your account.
| 
| Your Verification Code:
| #{confirmationCode}
| 
| Enter this code in the verification page to complete your registration.
| This code will expire in 15 min.
| 
| If you didn't create an account with ENIT Connect, you can safely ignore this email.
| 
| © 2026 ENIT Connect - École Nationale d'Ingénieurs de Tunis
| All rights reserved.